<div *ngIf="cartService.items.length > 0" class="pure-g" style="justify-content: center">
  <div class="pure-u-1">
    <h2 class="content-subhead">Panier</h2>
    <hr>
  </div>
</div>
<div *ngIf="cartService.items.length == 0" class="pure-g" style="justify-content: center">
  <div class="pure-u-1">
    <h2 class="content-subhead">Panier vide</h2>
    <a class="pure-button" routerLink="/store">Magasiner</a>
    <hr>
  </div>
</div>
<div *ngIf="cartService.items.length > 0" class="pure-g" style="justify-content: center">
  <app-item *ngFor="let item of cartService.items;" class="pure-u-1-5" style="margin: 10px;" [item]="item"
    [action]="action" [method]="method">
  </app-item>
  <div class="pure-u-1">
    <hr>
  </div>
</div>
<div *ngIf="cartService.items.length == 0" class="pure-g">
  <div class="pure-u-1">
    <img src="assets/cart_empty.png" style="height: 100%;width: 100%;">
  </div>
</div>
<div *ngIf="cartService.items.length > 0" class="pure-g" style="justify-content: center">
  <div class="pure-u-1-2" style="margin-left: 1rem;">
    Total
  </div>
  <div class="pure-u-1-2" style="text-align: end; margin-right: 1rem;">
    {{cartService.sum()}} $
  </div>
</div>
